/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page mysqloptionsguide Driver Options

    @tableofcontents

    When compiled again Qore 0.8.6+ the mysql driver support the following DBI options:
    - \c "collation": sets the client-side per-connection collation for string values
    - \c "optimal-numbers": return numeric types as an integer if possible, if not as an arbitrary-precision number
    - \c "string-numbers": return numeric types as strings (for backwards-compatibility)
    - \c "numeric-numbers": return numeric types as arbitrary-precision number values
    - \c "timezone": accepts a string argument that can be either a region name (ex: \c "Europe/Prague") or a UTC offset (ex: \c "+01:00") to set the server's time zone rules; this is useful if connecting to a database server in a different time zone.  If this option is not set then the server's time zone is assumed to be the same as the client's time zone; see @ref mysqltimezone.

    @note if the \c "collation" option is set, the collation is set automatically for each connection to the given
    value

    Options can be set in the \c Datasource or \c DatasourcePool constructors as in the following examples:
    @code{.py}
    Datasource ds("mysql:user/pass@db{numeric-numbers,timezone=Europe/Vienna}");
    DatasourcePool dsp("mysql:user/pass@db%host.internal:3306{optimal-numbers}");
    @endcode

    Options are stored separately for each connection.

    @section mysql_number_options Number Options

    The number options (\c "optimal-numbers", \c "string-numbers", and \c "numeric-numbers") are all mutually-exclusive; setting one automatically disables the others.   These options also ignore their arguments; the last one set takes effect (also note that setting it with any value sets the option, even \c False).

    The default if no other option is explicitly set is \c "optimal-numbers".  Note that this represents a change from previous versions where \c NUMERIC or \c DECIMAL values were returned as strings in order to avoid the loss of information.  To set the old behavior, set the \c "string-numbers" option when creating the \c Datasource or \c DatasourcePool object.
*/
