/** @mainpage Qore mysql Module

    @tableofcontents

    Contents of this documentation:
    - @ref mysqlintro
    - @ref mysqloptions
    - @ref mysqltrans
    - @ref mysqlnativebulkload
    - @ref mysqlbind
    - @ref mysqlstoredprocs
    - @ref mysqlreleasenotes

    @section mysqlintro Introduction to the mysql Module

    The mysql module provides a <a href="www.mysql.com">MySQL</a> driver to Qore's DBI system, allowing Qore programs to access MySQL databases through the Datasource, DatasourcePool, and SQLStatement classes.

    This module is released under the <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</a> when compiled with MariaDB, or <a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">GPL 2</a> when compiled with MySQL (and is tagged as such in the module's header).

    Example of creating a MySQL Datasource:
    @code{.py}
Datasource db(SQL::DSMySQL, user, pass, db, encoding, hostname, port);
    @endcode

    This driver supports the following DBI capabilities when compiled against MySQL 5 or better:
    - \c DBI_CAP_TRANSACTION_MANAGEMENT
    - \c DBI_CAP_CHARSET_SUPPORT
    - \c DBI_CAP_LOB_SUPPORT
    - \c DBI_CAP_STORED_PROCEDURES
    - \c DBI_CAP_BIND_BY_VALUE
    - \c DBI_CAP_HAS_EXECRAW
    - \c DBI_CAP_HAS_STATEMENT
    - \c DBI_CAP_HAS_SELECT_ROW
    - \c DBI_CAP_HAS_NUMBER_SUPPORT
    - \c DBI_CAP_HAS_OPTION_SUPPORT
    - \c DBI_CAP_SERVER_TIME_ZONE
    - \c DBI_CAP_HAS_COLUMNAR_SELECT
    - \c DBI_CAP_HAS_BULK_LOAD

    The driver uses MySQL's prepared statement interface when it is available (must be compiled with MySQL 4 or better).

    When built against a %Qore library with columnar DBI support, the driver implements
    \c Datasource::selectColumnar() and \c SQLStatement::fetchColumnar() to return
    \c Qore::SQL::ColumnarResult objects suitable for DataFrame and analytical workloads.
    Integer and floating-point result columns are returned as dense \c buffer<int64>
    and \c buffer<float64> values. Safe \c DECIMAL(p,s) / \c NUMERIC(p,s) values
    with precision up to 38 are returned as \c buffer<decimal128> when number
    results are not configured as strings.

    If a connection times out while not in a transaction, the connection will be automatically reconnected.

    As with all Qore DBI drivers, column names are manually converted to lower case if necessary before being returned to the user.

    The <tt>Datasource::getServerVersion()</tt> and <tt>Datasource::getClientVersion()</tt> methods are implemented for this driver and return an integer giving the major, minor, and sub version numbers in a single integer according to the following formula:

    @verbatim
major_version * 10000 + minor_version * 100 + sub_version
    @endverbatim

    (For example: \c 50027 = <tt>5.0.27</tt>).

    Like all Qore components, the MySQL DBI driver is thread-safe.

    @section mysqlnativebulkload Native LOAD DATA Bulk Loading

    @subpage mysqlnativebulkloadguide


    @section mysqloptions Driver Options

    @subpage mysqloptionsguide


    @section mysqltrans Transaction Management

    @subpage mysqltransguide


    @section mysqlerrorinfo Error Information

    @subpage mysqlerrorinfoguide


    @section mysqlbind Binding and Types

    @subpage mysqlbindguide


    @section mysqlstoredprocs Stored Procedures

    @subpage mysqlstoredprocsguide


    @section mysqlreleasenotes Release Notes

    @subpage mysqlreleasenotesguide

*/
