/** @mainpage Qore mysql Module

    @tableofcontents

    @section mysqlintro Introduction to the mysql Module

    The mysql module provides a <a href="https://www.mysql.com/">MySQL</a> driver to Qore's DBI system, allowing Qore programs to access MySQL databases through the Datasource, DatasourcePool, and SQLStatement classes.

    This module is released under the <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</a> when compiled with MariaDB, or <a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">GPL 2</a> when compiled with MySQL (and is tagged as such in the module's header).

    Example of creating a MySQL Datasource:
    @code{.py}
Datasource db(SQL::DSMySQL, user, pass, db, encoding, hostname, port);
    @endcode

    The driver supports transactions, bound parameters, and prepared statements.
    See @ref mysqlcapabilitiesguide for supported features and their requirements.

    The driver uses MySQL's prepared statement interface when it is available (must be compiled with MySQL 4 or better).

    If a connection times out while not in a transaction, the connection will be automatically reconnected.

    As with all Qore DBI drivers, column names are manually converted to lower case if necessary before being returned to the user.

    The <tt>Datasource::getServerVersion()</tt> and <tt>Datasource::getClientVersion()</tt> methods are implemented for this driver and return an integer giving the major, minor, and sub version numbers in a single integer according to the following formula:

    @verbatim
major_version * 10000 + minor_version * 100 + sub_version
    @endverbatim

    (For example: \c 50027 = <tt>5.0.27</tt>).

    Like all Qore components, the MySQL DBI driver is thread-safe.

    @section mysqldocumentation Documentation

    - @subpage mysqlcapabilitiesguide
    - @anchor mysqlnativebulkload @subpage mysqlnativebulkloadguide
    - @anchor mysqloptions @subpage mysqloptionsguide
    - @anchor mysqltrans @subpage mysqltransguide
    - @anchor mysqlerrorinfo @subpage mysqlerrorinfoguide
    - @anchor mysqlbind @subpage mysqlbindguide
    - @anchor mysqlstoredprocs @subpage mysqlstoredprocsguide
    - @anchor mysqlreleasenotes @subpage mysqlreleasenotesguide

*/
